body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0e0c1f;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container, .signup-container {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #1800f0;
    margin-bottom: 20px;
    font-size: 2rem;
}

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #c5c5c5;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: #f5f5f5;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #092291;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00095c;
}

p {
    margin-top: 20px;
    color: #c5c5c5;
}

p a {
    color: #0061e0;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
.exit-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #0061e0; 
    color: #ffffff; 
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.exit-button:hover {
    background-color: #0050b8; 
    transform: scale(1.05); 
}

.exit-button:active {
    background-color: #0050b8; 
}